@page "/users/details"
@using INTERNET_SHOP.Models
@using INTERNET_SHOP.Models.Entities
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<INTERNET_SHOP.Data.INTERNET_SHOPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>User</h2>
    <hr />
    @if (user is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">IP</dt>
            <dd class="col-sm-10">@user.IP</dd>
            <dt class="col-sm-2">OS</dt>
            <dd class="col-sm-10">@user.OS</dd>
            <dt class="col-sm-2">PcName</dt>
            <dd class="col-sm-10">@user.PcName</dd>
            <dt class="col-sm-2">ManufacturerProcessor</dt>
            <dd class="col-sm-10">@user.ManufacturerProcessor</dd>
        </dl>
        <div>
            <a href="@($"/users/edit?id={user.Id}")">Edit</a> |
            <a href="@($"/users")">Back to List</a>
        </div>
    }
</div>

@code {
    private User? user;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        user = await context.User.FirstOrDefaultAsync(m => m.Id == Id);

        if (user is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
